@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');       
@import url(base.css);

  

body{

    margin: 0 auto;
}

.text1  {
    margin-top: 25%;
    position: relative;
    z-index: 2;
    font-size: 42px;
    margin-left: 10%;
    font-family: "Arsenal SC", sans-serif;
    word-wrap: break-word; /* Дозволяє переносити слова */
    white-space: normal; /* Звичайний перенос тексту */
    
    
}
/* Секція 2 */
.section2 {
    width: 100%;
    margin-top: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1000px) {
    .section2 {
        flex-direction: column;
        gap: 30px;
    }
}


/* Ліва частина */
 .left-part {
    margin-left: 80px;
}

 .right-part {
    margin-left: auto; /* Це допоможе притягнути праву частину до кінця рядка */
}




.text2  {
    
    position: relative;
    z-index: 2;
    font-size: 24px;
    margin-left: 10%;
    font-family: "Arsenal SC", sans-serif;
    word-wrap: break-word; /* Дозволяє переносити слова */
    white-space: normal; /* Звичайний перенос тексту */
    
    
}


/* Стилі для іконок соціальних мереж */
.social-icon {
    margin-left: 10px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.social-icon:hover {
    color: #0077b5; /* Наприклад, змінюється колір при наведенні */
}


.text1 h1{
   flex-wrap: wrap;
    color: #491d02;
}

.main {
    position: relative;
    width: 100%;
    
}

.svg-background {
    position: absolute;
    top: -400px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}


.svg-background2 {
    position: absolute;
    bottom: 300px;
    left: 120px;
    z-index: -1;
}





.svg-responsive {
    width: 80%;
    height: 100%;
}

.form {
    position: relative;
    margin-top: 7%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.group1 {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    z-index: 2;
}

.container_form {
    width: 60%;
    display: flex;
    flex-direction: column;
    
}

.input-field1,
.input-field2,
.input-field3,
.input-field4 {
    font-family: "Arsenal SC", sans-serif;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    background-color: #F1ECE7;
    box-shadow: 8px -8px 0px 0px #269C0D;
}

.input-field1 {
    width: 450px;
    height: 30px;
}

.input-field2 {
    width: 256px;
    height: 30px;
}

.input-field3 {
    position: relative;
    margin-top: 50px;
    height: 30px;
    max-width: 258px;
}

.input-field4 {
    position: relative;
    margin-top: 50px;
    height: 114px;
}


.button-container {
    width: 85%;
    display: flex;
    justify-content: flex-end; /* Кнопка притягнута до правого краю */
    margin-top: 5%; /* Відступ від форми */
}

.submit-button {
    padding: 22px 35px;
    background-color: #269C0D; /* Зелений фон */
    color: white;
    font-size: 1.5vw;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
}

.submit-button:hover {
    background-color: #269C0D; /* Темніший зелений при наведенні */
}


footer{
    margin-top: 50px;
}

footer p{
    color: #fff;
    font-size: 18px;
}

/* Футер */
/* Футер */
.container {
    display: flex;
    justify-content: space-around;
    padding: 5dvw;
    margin-top: 2dvw;
    
}

footer{
    margin-top: 14dvw;;
}
.header_back_img{
    width: 100%;
    z-index: -1;
    position: absolute;
}


footer h2{
    font-size: 2.25dvw;
    color: #fff;
    font-family: var(--font-family-h);
    font-weight: bold;
    margin-bottom: 1.25dvw;
}

footer p{
    color: #fff;
    font-size: 1.5dvw;
    font-family: var(--font-family-h);
    margin-bottom: 0.1dvw;
    
}

footer p a{
    font-weight: bold;
    margin-bottom: 0.5dvw;
    font-size: 1.75dvw;
}

.map {
    width: 21dvw;
    margin-top: 2dvw;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 19dvw;
    gap: 1dvw;
    justify-content: center;
}

.social-icons img {
    width: 3dvw;
    height: 3dvw;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

/* Стилі для посилання */
.icon-link {
    display: inline-block;
    width: 5dvw;
    height: 5dvw;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

/* Зміна стилів при наведенні */
.icon-link:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Стилі для самої іконки */
.icon-link img {
    width: 60%;
    height: 60%;
    margin-top: 20%;
    transition: opacity 0.3s;
}

/* Зміна прозорості іконки при наведенні */
.icon-link:hover img {
    opacity: 0.8;
}

/* Стиль для секції спеціалістів */
.specialists {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
    background-image: url(../img/2.jpg);
}


/* Стиль для секції спеціалістів */
.specialists {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
    background-image: url(../img/2.jpg);
}

/* Текстовий контент в секції */
.specialists h1, .specialists p {
    position: relative;
    z-index: 2;
}

.specialists-text{
    background-color: rgba(0, 0, 0, 0.2);
}

/* Шапка сайту */
header {
    display: flex;
    background-image: url('../img/2.jpg'); /* Заданий шлях до зображення */
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: white;
    padding: 10px 0;
    border-radius: 0 0 64px 64px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
}

header::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Напівпрозоре чорне затемнення */
    z-index: -1; /* Псевдоелемент знаходиться під контентом */
}

/* Логотип */
.logo {
    height: 70px;
    background-color: #269C0D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 10s linear infinite;
}

/* Стилі навігації */
header nav {
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    transition: transform 0.4s ease, color 0.3s ease;
}

header nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px; 
    background: linear-gradient(90deg, #269C0D, #ff6600);
    border-radius: 2px;
    transition: width 0.4s ease;
}

header nav a:hover {
    color: #269C0D;
    transform: rotateY(20deg) rotateX(10deg) scale(1.1);
}

header nav a:hover::after {
    width: 100%;
}


.off-screen-menu{
    background-color: #ff6600;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 1;
  }

  .off-screen-menu.active{
    right: 0;

  }

  /* Стилі списку */
.off-screen-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.off-screen-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.off-screen-menu li a:hover {
    background-color: #555; /* Легке затемнення при наведенні */
}

  .nav{
    padding: 1rem;
    display: flex;
    background-color: #000;
    border-radius: 0 0 64px 64px;
    justify-content: space-around;
  }

.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: #269C0D;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 2;
}


.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%)  rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 50%)  rotate(-45deg);
}


.off-screen-menu{
    display: none;
}

.ham-menu{
    display: none;
}

.nav{
    display: none;
}

@media (max-width: 1310px){
    .svg-background2{
        left: 10px;
    }
}

@media (max-width: 1310px){
    .svg-background2{
        display: none;
    }
    .svg-background{
        top: -300px;
    }
}

@media (max-width: 1020px) {
    .container{
        flex-direction: column;
        align-items: center;
    }
    .svg-background{
        display: none;
    }
  }

@media (max-width: 800px){
    header{
        display: none;
    }
    
    .specialists{
        display: none;
    }
    .off-screen-menu{
        display: block;
    }
    
    .ham-menu{
        display: block;
    }

    .nav{
        display: flex;
    }
  }