.owner_img{
    width: 30dvw;
    height: 57dvw;
    
}

.owner_content{
    margin-top: 6dvw;
    gap: 4dvw;
}

.owner_words{
    border-radius: 5dvw;
    padding: 3dvw;
    border: 3px solid var(--color-green);
}

.owner_text{
    font-size: 1.7dvw;
}

.owner_h5{
    margin-top: 5dvw;
    font-size: 3dvw;
}